<template name="homepage">
  <h1>Welcome</h1>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Channel URL</th>
        <th>Channel Topic</th>
        <th>Current Video</th>
        <th>Owner</th>
        <th>Viewer Count</th>
      </tr>
    </thead>
    <tbody>
      {{#each getTop10Channels}}
        <tr>
          <td>{{@index}}</td>
          <td><a href="/c/{{channelURL}}">{{channelURL}}</a></td>
          <td>{{channelTopic}}</td>
          {{getCurrentVideo channelURL}} 
          <td>{{getCurrentVideoSession channelURL}}</td>
          <td>{{ownerName}}</td>
          <td>{{viewerCount}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>
</template>
