<template name="homepage">
  <h1 class="main-font-color">Welcome to Harmedia</h1>
  <table class="table table-condensed table-striped table-bordered table-border">
    <thead>
      <tr class="main-font-color">
        <th>#</th>
        <th>Channel URL</th>
        <th>Channel Topic</th>
        <th>Current Video</th>
        <th>Owner</th>
        <th>Viewer Count</th>
      </tr>
    </thead>
    <tbody>
      {{#each getTop10Channels}}
        <tr class="main-font-color">
          <th>{{incCount @index}}</th>
          <th><a href="/c/{{channelURL}}">{{channelURL}}</a></th>
          <th>{{channelTopic}}</th>
          {{getCurrentVideo channelURL}}
          <th>{{getCurrentVideoSession channelURL}}</th>
          <th>{{ownerName}}</th>
          <th>{{viewerCount}}</th>
        </tr>
      {{/each}}
    </tbody>
</table>
</template>
