<template  name="player">
  {{> video}}
  <div class="row" style="margin-top:5px">
    {{#if isGuru}}
      <div class="col-md-2 col-margin-right-reduced">
      {{#if isNoVideoDisableButton}}
          <button id="play-pause-button" disabled><span id="togglePlause" class="glyphicon glyphicon-play"></span></button>
        {{else}}
          {{#if isVideoPaused}}
            <button id="play-pause-button"><span id="togglePlause" class="glyphicon glyphicon-play"></span></button>
          {{else}}
            <button id="play-pause-button"><span id="togglePlause" class="glyphicon glyphicon-pause"></span></button>
          {{/if}}
        {{/if}}
      {{#if canSkip}}
        {{#if isNoVideoDisableButton}}
          <button id="skip-button" disabled><span class="glyphicon glyphicon-step-forward"></span></button>
        {{else}}
          <button id="skip-button"><span class="glyphicon glyphicon-step-forward"></span></button>
        {{/if}}
      {{/if}}
      </div>
      <div class="col-md-2"> <p id="server-video-time" class="main-font-color">{{formatCurrentTime getCurrentChannelTime}}/{{formatCurrentTime getEndChannelTime}}</p> </div>
      <div class="col-md-6">
        <input id="seek-bar" class="seek-bar-class" type="range" value="{{getCurrentChannelTime}}" min="0" max="{{getEndChannelTime}}">
      </div>
    {{else}}
      {{#if canSkip}}
        {{#if isNoVideoDisableButton}}
          <button id="skip-button" disabled><span class="glyphicon glyphicon-step-forward"></span></button>
        {{else}}
          <button id="skip-button"><span class="glyphicon glyphicon-step-forward"></span></button>
        {{/if}}
      {{/if}}
    {{/if}}
    <div class="col-md-2">
      <p id="server-video-time" class="main-font-color">{{formatCurrentTime getCurrentChannelTime}}/{{formatCurrentTime getEndChannelTime}}</p>
    </div>
    <div class="col-md-2 f-right">
      <input id="volume-bar" class="volume-bar-class" type="range" value="50" min="0" max="100">
    </div>
  </div>
</template>
